# зависимости
node_modules/
.parcel-cache/

# папка сборки (Parcel создаёт заново при build)
dist/

# система
.DS_Store
Thumbs.db

# логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env-файлы (если будут)
.env
